project = "your-project"

region = "your-region"

zone = "your-region-x"

public_key_path = "~/.ssh/appuser.pub"

private_key_path = "~/.ssh/appuser"

gitlab_runner_disk_image = "gitlab-runner-machine"

gitlab_runner_disk_size = 100

gitlab_runner_url = "http://localhost/"

gitlab_runner_registration_token = "Set Runner Token"

gitlab_registry_address = "gitlab-host"

gitlab_registry_port = 4567

count = 2
