{
  "CN": "{{ cn }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "RU",
      "L": "Moscow",
      "O": "{{ o }}",
      "OU": "{{ ou }}",
      "ST": "Moscow"
    }
  ]
}
